# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Next.js
.next/
out/
build/
.swc/

# Frontend Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env.backend
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# OS/IDE
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
